#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-light-white: #FCFCFC;
  --color-light-gray: #F7F7F7;
  --color-light-gray-2: #EAEAEA;
  --color-light-gray-3: #EBE9EB;
  --color-light-gray-4: #D4D4D4;
  --color-medium-gray: #CFCDCF;
  --color-medium-gray-2: #E5E5E3;
  --color-gray: #858585;
  --color-dark-gray: #484a50;
  --color-blue: #288EFB;
  --color-blue-2: #007BFF;
}
